.service-img
{
    height: 300px;
}

 @media all and (max-width: 1350px) 
{
    .service-img
    {
        height: 250px;
    }
}

@media all and (max-width: 1200px) 
{
    .service-img
    {
        height: 300px;
    }
}

@media all and (max-width: 1100px) 
{
    .service-img
    {
        height: 250px;
    }
}

@media all and (max-width: 767px) 
{
    .service-img
    {
        height: 250px;
        border-radius: 12px !important;
    }
}

@media all and (max-width: 600px) 
{
    .service-img
    {
        height: 200px;
    }
}

@media all and (max-width: 576px) 
{
    .service-img
    {
        height: 250px;
    }
}


