.casestudy-img
{
    height: 300px;
}

@media all and (max-width: 1100px)
{
  .casestudy-img
  {
      height: 250px;
  }
}

@media all and (max-width: 900px)
{
  .casestudy-img
  {
      height: 200px;
  }
}

@media all and (max-width: 550px) 
{
  .casestudy-img
  {
      height: 350px;
  }
}

@media all and (max-width: 480px) 
{
  .casestudy-img
  {
      height: 300px;
  }
}

@media all and (max-width: 400px) 
{
  .casestudy-img
  {
      height: 250px;
  }
}


@media all and (max-width: 720px) 
{
  .casestudy-separate
  {
    font-size: 25px;
  }
}

.casestudy-card
{
  border: #d85c9e 4px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.casestudy-separate
{
  background-color: #d85c9e;
}
