.location-icons
{
    background-color: #f2c0dd;
    padding: 10px;
    color: #471028;
    border-radius: 3px;
    font-size: 25px;
}

@media all and (max-width:470px)
{
    .email,.text-mobile
    {
       font-size: 13px !important;
    }
}

@media all and (max-width:360px)
{
    .email,.text-mobile
    {
       font-size: 12px !important;
    }
}

@media all and (max-width:340px)
{
    .email,.text-mobile
    {
       font-size: 11px !important;
    }
}

.email:hover
{
    text-decoration: underline !important;
    color:#805828 !important;
}

