.footer
{
    background-color: #762549;
    color: #fcf3f8 !important;
}

.media-icons
{
    border-radius: 100px;
    width: 40px;
    height: 40px; 
    background-color: #fcf3f8;
}

.media-icons .navcolor
{
    color: #c53d7e !important;
}

.media-icons:hover
{
    background-color: #f6d4e8 !important;
}

.footer a
{
    color: #ebe6e0 !important;
}



.footer .footer-Links:hover
{
    text-decoration: underline !important;
}



@media (max-width: 400px) 
{
    .footer-Links
    {
        font-size: 15px;
    }
}

@media (max-width: 380px) 
{
    .footer-Links
    {
        font-size: 14px;
    }
}

@media (max-width: 360px) 
{
    .footer-Links
    {
        font-size: 13px;
    }
}

@media (max-width: 340px) 
{
    .footer-Links
    {
        font-size: 12px;
    }
}