@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

body
{
  font-family: "Libre Franklin", serif;
}

.title
{
    color: #8d2754 !important;
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    text-transform: uppercase;
    font-family: "Sora", serif;
}

.subtitle
{ 
  color: #d85c9e;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.common-btn
{
  padding: 8px 32px;
  border-radius: 5px;
  border: none;
  background-color: #d85c9e;
  color: white;
  text-decoration: none;
}

.common-btn:hover
{
  font-weight:bold !important;
}

.common-btn:active
{
  background-color: #c53d7e;
}

.justify-text
{
  text-align: justify;
}

.getTouch
{
  background-color: #EDB7B3;
}

.getInImage
{
  height: 400px;
}


/* Careers.css and CaseStudies.css */
.btn-casestudy
{
    background-color: #d85c9e !important;
    color: white;
    border: none;
    font-weight:600;
    text-align: center;
    text-decoration: none;
    padding: 7px;
    text-transform: uppercase;
}

.btn-casestudy:hover
{
  background-color: #c53d7e !important;
  transition: 0.5s;
}

.btn-casestudy:active
{
  background-color: #aa2c65 !important;
  transition: 0.5s;
}

